/*NAVIGACE*/
.vrchninabidka {overflow:hidden;
                background-color:transparent;
                margin-top:5px;
                margin-bottom:5px;
                text-align:center;
                }
.vrchninabidka a:hover {
  background-color: White;
  color: Black;
  
  }


.vrchninabidka2 {background-color:#238905;
  color: white;
  text-decoration:none;
  padding: 15px 20px;
  font-size:40px;
  padding-bottom:5px;
  }

.vrchninabidka3 {background-color:Black;
  color: white;
  text-decoration:none;
  padding: 15px 20px;
  font-size:40px;
   padding-bottom:5px;  
  }




@media screen and (max-width: 820px) {
     .vrchninabidka,.vrchninabidka2, .vrchninabidka3 
    {display:block;
    font-size:25px;
    padding:5px;
    margin-bottom:5px;}
    #d {float:none;
    padding-bottom:5px;}
}
#d {height:50px;
    width:50px;
    margin:auto;
    }
/*NAVIGACE*/
/*#####################################################################################*/
/*GALERIE POSTAV*/
#postavy {
  padding: 0px;
  max-width: 820px;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-top:32px;
  margin-bottom:32px;
}

.image-container {
  float: left;
  width: 250px;
  height: 250px;
  position: relative;
  margin: 10px;
  cursor: pointer;
}

.image-container img {
  width: 250px;
  height: 250px;
  position: absolute;
}

.image-caption {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  opacity: 0;
}


.image-container:hover .image-caption {
  opacity: 1;
}



@media all (min-width:521px) and (max-width: 800px) {
  
    #postavy {
    width: 100%;

          
  }
  .image-container {
    margin-left:20%;
    width: 48%;
    margin: 5px;
   
  }
  .image-caption {
    width: 250px;
    height: 250px;
  }
}
@media screen and (min-width:0px) and (max-width: 520px) {
    #postavy {
    max-width:100%;
    }
    .image-container {margin-left:10%;}}
/*GALERIE POSTAV*/
/*#####################################################################################*/
/*FOTOGALERIE*/
#galerie {
    margin: 10px 50px;
    max-width:73%;
    margin:auto;
    }

@media screen and (min-width:0px) and (max-width: 520px) {
    #galerie {
    max-width:90%;
    margin-left:22%; 
    }}
#galerie img { width:230px;
               padding:5px;
               filter:grayscale(100%);
               transition:1s;}
#galerie img:hover {
    filter:grayscale(0%);
    transform:scale(1.1);
}
/*FOTOGALERIE*/
/*#####################################################################################*/
/*RECENZE*/
#recenze {
    margin:auto;
    max-width:800px;
    text-align:center;
    padding-top:16px;
    padding-bottom:64px;
}
.odstavecrecenze { 
    display:table-cell;
    padding-left:15px;
    padding-right:15px;
}
.recenzeshrnuti {
 max-width:800px;
 margin:auto;
 text-align:center;
padding-left:15px;
    padding-right:15px;
padding-bottom:64px;}


.recenzeikonka {
 height:80px;
 width:80px;
}

@media screen and (max-width: 800px) {
    .odstavecrecenze { 
    display:block;
        padding-bottom:64px;}
   
}
/*RECENZE*/
/*#####################################################################################*/
/*SERIE*/
.toggle-box-region {background-color:#fff; 
    padding:16px 18px;
    text-align:center;
    width:80%;
    margin:auto;
    font-size:100%;
}
.toggle-box-region label p{color:black;}
.toggle-box {display:none;
}
.toggle-box + label {
	color:#000000;
	cursor:pointer;
	display:block;
	line-height:23px;
	padding:.3em 0 .3em 26px;
	position:relative;
    text-align:center;
}

.toggle-box + label + div {display:none; margin:0 0 14px;}
.toggle-box:checked + label:nth-child(n) + div {display:block;}


.toggle-box:checked + label {color:#238905;}

.toggle-box-content {border-bottom:4px double #bfbfbf; color:#000; padding:2px 1em .6em 28px;}


.box-test {
  padding:3em;
}
/*SERIE*/
/*#####################################################################################*/
/*ZAPATI*/
.zapati {
    position:relative;
    background-color:#238905;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:auto;
    text-align:center;
    color:white;
    font-size:135%;
    padding-bottom:2px;
}
#futr  {height:50%;
            width:50%;
            margin:auto;}
/*ZAPATI*/
/*#####################################################################################*/
/*UVODNI VIDEO*/
#intro {
    text-align:center;
    max-width:800px;
    margin:auto;
    margin-top:64px;
    margin-bottom:64px;
}
video {height:90%;
        width:90%;}
/*UVODNI VIDEO*/
/*#####################################################################################*/
/*FONTY A TEXT*/
h1{color:white;
   font-size:80px;
   text-align:center;}
.vrchninabidka {font-family:bebasneue}
h1{font-family:brandongrotesque}
h2{font-family:brandongrotesque}
h3{font-family:brandongrotesque}
p{font-family:brandongrotesque}
.zapati{font-family:BrandonGrotesque}
 .toggle-box-content p{font-family:Advent pro} /*GOOGLE FONT NA PŘÁNÍ PANÍ UČITELKY*/
.zapati a:link{text-decoration:none;
color:white;}
.zapati a:visited{text-decoration:none;
color:white;}
.zapati a:hover{text-decoration:none;
color:white;}
.zapati a:active{text-decoration:none;
color:white;}
#postavy p{color:White;
                 margin:10px;
                 text-align:center;
                 line-height:1.25rem;}
#postavy h2{color:White;
                 margin:10px;
                 text-align:center;
                 line-height:1.25rem;}
#postavy h3{color:White;
                 margin:10px;
                 text-align:center;
                 line-height:1.25rem;}
/*FONTY A TEXT*/
/*#####################################################################################*/
/*HLAVNI*/
#hlavni{
    margin:auto;
    max-width:800px;
    text-align:center;
    padding-top:16px;
    padding-bottom:64px;
}
.obrazekhlavni{
    height:80px;
    width:80px;
    float:left;
    margin-right:7px;
    padding-top:10px;
    
}

#hlavni p{text-align:left;}
#hlavni div{padding-bottom:10px;}
.texthlavni {max-width:705px;
         margin-left:85px;
         margin-right:5px;}
/*HLAVNI*/
/*#####################################################################################*/
/*SERIE*/
#serie {
    max-width:800px;
    margin:auto;
}
/*SERIE*/

/*OSTATNI*/
html {height:100%;
box-sizing:border-box;}
#nastred {
    display: block;
    margin-top:0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
body{margin:0;}
/*OSTATNI*/
